.aspect-ratio-container {
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.aspect-ratio-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aspect-ratio-container-16-9 {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.aspect-ratio-container-16-9 > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
