body {
    overflow-x: hidden;
}

.news-card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.news-main-container-maintop {
    margin-top: calc(56px + 70px + 1.5rem);
}

.pagination-item > li {
    cursor: pointer;
}

.disable-click {
	/* pointer-events: none; */
	/* cursor: not-allowed; */
    color: rgb(158, 154, 154);
    cursor: no-drop !important;
}

.disable-click:hover {
    color: rgb(158, 154, 154);
    cursor: no-drop !important;
}

.active {
    background-color: rgba(0, 0, 0, 5);
}

@media (max-width: 768px) {
    .news-container {
        margin-top: 1.0rem;
    }

    .md-news-title {
        padding: 0.75rem var(--bs-gutter-x,.75rem);
    }
}
